<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
    
    <test name="Homepage">
	<classes>
	<class name="com.boddess.testscript.Homepage" />
	</classes>
	</test>
	<test name="Login_Reg">
	<classes>
	<class name="com.boddess.testscript.Login_Reg" />
	</classes>
	</test>
	<test name="PLP">
	<classes>
	<class name="com.boddess.testscript.PLP" />
	</classes>
	</test>
	<test name="PDP">
	<classes>
	<class name="com.boddess.testscript.PDP" />
	</classes>
	</test>
	<test name="My Account">
	<classes>
	<class name="com.boddess.testscript.MyAccount" />
	</classes>
    </test>
	<test name="LoginCheckout">
	<classes>
	<class name="com.boddess.testscript.LoginCheckout" />
	</classes>
	</test>
	<test name="PrepaidCheckout">
	<classes>
	<class name="com.boddess.testscript.PrepaidCheckout" />
	</classes>
	</test>
	
</suite> <!-- Suite -->
