<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
    
      <test name="Homepage">
	<classes>
	<class name="com.boddess.testscript.Homepage" />
	</classes>
	</test>
	<test name="Login_Reg">
	<classes>
	<class name="com.boddess.testscript.Login_Reg" />
	</classes>
	</test>


</suite> <!-- Suite -->
